In [42]:
#importing everything that's necessary
import seaborn as sns 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import math

#loading 1st df
df = pd.read_csv('data Mashable.csv')
df.head()

,id,url,n_tokens_title,n_tokens_content,num_imgs,num_videos,average_token_length,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,...,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend,global_subjectivity,global_sentiment_polarity,title_subjectivity,title_sentiment_polarity,shares,shares_log
0,1,http://mashable.com/2013/10/29/ashton-kutcher-...,10,821,12,0,4.518879,0,0,0,...,0,0,0,0,0.439379,0.082486,0.666667,0.375,2100,3.322219
1,2,http://mashable.com/2014/09/08/mashies-sept-19...,9,489,6,0,5.040900,0,0,0,...,0,0,0,0,0.300454,0.027715,0.000000,0.000,274,2.437751
2,3,http://mashable.com/2013/02/01/hello-kitty-roc...,11,131,0,1,4.877863,0,0,0,...,1,0,0,0,0.575486,0.259120,0.000000,0.000,1500,3.176091
3,4,http://mashable.com/2014/02/06/add-us-on-snapc...,8,556,2,0,4.974820,0,0,1,...,0,0,0,0,0.327220,0.134424,0.000000,0.000,2000,3.301030
4,5,http://mashable.com/2014/01/07/lindsey-vonn-wi...,9,880,18,0,4.928409,0,0,0,...,0,0,0,0,0.507709,0.109256,0.000000,0.000,6000,3.778151

In [43]:
dflength = len(df.index)
dftraininglength = round(len(df.index)*0.8)
dftestlength = len(df.index)-round(len(df.index)*0.8)

dftraining = df.iloc[:dftraininglength]
dftest = df.iloc[dftraininglength:dflength]
print("The length of the rows in this dataframe is: ")
print(dflength)
print("The training set will be about 80 percent of it which is: ")
print(dftraininglength)
print("The testing set will be the rest which is:")
print(dftestlength)

The length of the rows in this dataframe is:
24999
The training set will be about 80 percent of it which is:
19999
The testing set will be the rest which is:
5000

In [44]:
dfdummies = df[["data_channel_is_lifestyle", "data_channel_is_entertainment", "data_channel_is_bus", "data_channel_is_socmed", "data_channel_is_tech"]]
dffinal = pd.concat([df["shares"], dfdummies], axis = "columns")
dffinal.head()

,shares,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech
0,2100,0,0,0,0,1
1,274,0,0,0,0,0
2,1500,0,0,0,0,0
3,2000,0,0,1,0,0
4,6000,0,0,0,0,1

In [45]:
#To use sk-learn, we need to create lists of the two variables
#Note that you need to use [[ ]] with x. This creates a Pandas Data Frame (table), rather than a Pandas Series (list).
#lm.fit needs a Data Frame (or matrix) for x, because x can be multiple variables
x = df[["data_channel_is_lifestyle", "data_channel_is_entertainment", "data_channel_is_bus", "data_channel_is_socmed", "data_channel_is_tech"]]
y = df["shares"]
lm = LinearRegression() #this creates a new LR model
lm.fit(x, y) #this "fits" the model

b0 = lm.intercept_ #gets the intercept
b1 = lm.coef_[0] #lm.coef_ gets a list of coefficients (excluding the intercept). [0] gets the actual number from the list

print(f"The regression line is equal to y = {b0:.3f} + {b1:.3f}X") #.0f formats to 3 decimals.

The regression line is equal to y = 3936.248 + -204.236X

In [46]:
print("Predicted shares for a lifestyle channel:")
print(lm.predict([[1,0,0,0,0]]))
print("r2 score is:")
print(lm.score(x, y))

Predicted shares for a lifestyle channel:
[3732.01246334]
r2 score is:
0.0007447372696628429

In [47]:
df['shares_p'] = lm.predict(x) #generate the predictions and add them to the dataframe
df['resid'] = df['shares'] - df['shares_p'] #get the residuals by subtracting the prediction from the actual views
print("r2 score obtained through a different method:")
print(r2_score(df['shares'], df['shares_p'])) #this gives the model fit (R2) for the Y and predicted Y

r2 score obtained through a different method:
0.0007447372696628429

In [49]:
#RMSE
math.sqrt(mean_squared_error(df['shares'], df['shares_p']))

13093.856012645041

In [62]:
dummydummy = pd.get_dummies(df[["data_channel_is_lifestyle", "data_channel_is_entertainment"]])
dummydummy.head(10)
dffinal = pd.concat([df["shares"], dummydummy], axis = "columns")
dffinal.head()

   data_channel_is_lifestyle  data_channel_is_entertainment
0                          0                              0
1                          0                              0
2                          0                              0
3                          0                              0
4                          0                              0
5                          0                              0
6                          0                              0
7                          0                              0
8                          0                              0
9                          0                              0

In [63]:
#To use sk-learn, we need to create lists of the two variables
#Note that you need to use [[ ]] with x. This creates a Pandas Data Frame (table), rather than a Pandas Series (list).
#lm.fit needs a Data Frame (or matrix) for x, because x can be multiple variables
x = dffinal[["data_channel_is_lifestyle", "data_channel_is_entertainment"]]
y = dffinal["shares"]
lm = LinearRegression() #this creates a new LR model
lm.fit(x, y) #this "fits" the model

b0 = lm.intercept_ #gets the intercept
b1 = lm.coef_[0] #lm.coef_ gets a list of coefficients (excluding the intercept). [0] gets the actual number from the list

print(f"The regression line is equal to y = {b0:.3f} + {b1:.3f}X") #.0f formats to 3 decimals.

The regression line is equal to y = 3593.556 + 138.457X

In [65]:
print("Predicted shares for a lifestyle channel:")
print(lm.predict([[1,0]]))
print("r2 score is:")
print(lm.score(x, y))

Predicted shares for a lifestyle channel:
[3732.01246334]
r2 score is:
0.00017648027692895862